<div class="flex items-center justify-center"
    style="padding: 20px; box-shadow:0px 0px 20px rgba(215, 84, 3, 0.2); border-radius: 20px">
    <h1><a href="/admin/getPendingFeeDetails" style="color: blue">Pending Fee Details</a></h1>
</div>