<div style="color: red; text-align: center">
    <a href="https://idp-pay.tech/test/47:d4:5c:12">Akhil</a>
    <br>
    <hr>
    <br>
    <a href="https://idp-pay.tech/test/17:ed:58:12">Ajai</a>
    <br>
    <hr>
    <br>
    <a href="https://idp-pay.tech/test/67:8f:42:12">Antony</a>
    <br>
    <hr>
    <br>
    <a href="https://idp-pay.tech/test/e7:e6:56:12">Abhiram</a>
</div>