<div class="text-center">
    <h1 class="font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
        TRANSACTION HISTORY
    </h1>
    {{#each data}}
    <p>
        {{this}}
    <p>
        <hr>
        {{/each}}
</div>